
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">


			<!-- digital ocean settings -->
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h3>DigitalOcean</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">Instance Name</div>
					<div class="col-md-8"><input type="text" ng-model="doForm.name"></div>
				</div>
				<div class="row">
					<div class="col-md-4">Client Id</div>
					<div class="col-md-8"><input type="text" ng-model="doForm.clientId"></div>
				</div>
				<div class="row">
					<div class="col-md-4">Client Secret</div>
					<div class="col-md-8"><input type="text" ng-model="doForm.clientSecret"></div>
				</div>
				<div class="row">
					<div class="col-md-4">Region</div>
					<div class="col-md-8">
						<select ng-options="i as i.name for i in regions" ng-model="doForm.region">
							<option value="">Select</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">Size</div>
					<div class="col-md-8">
						<select ng-options="i as i.name for i in sizes" ng-model="doForm.size">
							<option value="">Select</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">Dockerfile.tar.gz</div>
					<div class="col-md-8"><input type="file" ng-model="doForm.dockerfile"></div>
				</div>
				<div class="row">
					<div class="col-md-4">URL to test</div>
					<div class="col-md-8"><input type="text" ng-model="doForm.testURL"></div>
				</div>
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-8"><button ng-click="addDigitalOceanInstance()">Add</button></div>
				</div>
			</div>



		</div>
		<div class="col-md-6">



			<!-- general docker -->
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h3>General Docker</h3>
					</div>
				</div>
				<form role="form" ng-upload="addGeneralDockerInstance(content)" action="/docker/docker_build_image">
					<div class="form-group">
						<label for="dockerhostInput">Docker Host</label>
						<input ng-model="gdForm.host" type="text" name="host" class="form-control" id="dockerhostInput">
					</div>
					<div class="form-group">
						<label for="portInput">Docker Port</label>
						<input ng-model="gdForm.port" type="text" name="port" class="form-control" id="portInput" >
					</div>
					<div class="form-group">
						<label for="dockerfileInput">Dockerfile.tar.gz</label>
						<input ng-model="gdForm.dockerfile" type="file" name="dockerfile" class="form-control" id="dockerfileInput" >
					</div>
					<div class="form-group">
						<label for="tagInput">Tag name</label>
						<input ng-model="gdForm.tag" type="text" name="tag" class="form-control" id="tagInput" >
					</div>
					<div class="form-group">
						<label for="tagInput">App port</label>
						<input ng-model="gdForm.app_port" type="text" name="app_port" class="form-control" id="tagInput" >
					</div>
					<div class="form-group">
						<label for="tagInput">Map port</label>
						<input ng-model="gdForm.map_port" type="text" name="map_port" class="form-control" id="tagInput" >
					</div>
					<div class="form-group">
						<label for="testingUrlInput">URL to test</label>
						<input ng-model="gdForm.testURL" type="text" class="form-control" id="testingUrlInput">
					</div>
					<button type="submit" value="Upload" ng-disabled="$isLoading" class="btn btn-default">Add</button>
				</form>
			</div>


		</div>
	</div>
</div>


<!-- current target -->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>Current Target</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">


			<target data="target" ng-repeat="target in targets"></target>


		</div>
	</div>
</div>




<!-- run test settings -->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>Run Test</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">Concurrency</div>
		<div class="col-md-8">
			<select ng-options="item for item in concurrencyList" ng-model="testInfo.concurrency">
				<option value="">Select</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">Request Number</div>
		<div class="col-md-8">
			<select ng-options="item for item in requestNumList" ng-model="testInfo.numRequest">
				<option value="">Select</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-8"><button ng-click="runTest()">Run</button></div>
	</div>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-8">
			<div ng-bind="testInfo.progress"></div>%
			<!-- <div class="progress" ng-show="showTesting">
				<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: {{testInfo.progress}}%">
					<span class="sr-only">{{ myData }} {{ testInfo | json }}% Complete</span>
				</div>
			</div> -->
		</div>
	</div>
</div>




<!-- results -->
<div class="container-fluid" ng-show="showResult">
	<div class="row">
		<div class="col-md-12">
			<h3>Result</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">


			<bars-chart chart-data="myData" ></bars-chart>


		</div>
	</div>
</div>



<div style="margin-top: 100px;"></div>
