
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">


			<!-- digital ocean settings -->
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h3>DigitalOcean</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">Instance Name</div>
					<div class="col-md-8"><input type="text" ng-model="doForm.name"></div>
				</div>
				<div class="row">
					<div class="col-md-4">Client Id</div>
					<div class="col-md-8"><input type="text" ng-model="doForm.clientId"></div>
				</div>
				<div class="row">
					<div class="col-md-4">Client Secret</div>
					<div class="col-md-8"><input type="text" ng-model="doForm.clientSecret"></div>
				</div>
				<div class="row">
					<div class="col-md-4">Region</div>
					<div class="col-md-8">
						<select ng-options="i as i.name for i in regions" ng-model="doForm.region">
							<option value="">Select</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">Size</div>
					<div class="col-md-8">
						<select ng-options="i as i.name for i in sizes" ng-model="doForm.size">
							<option value="">Select</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">Dockerfile.tar.gz</div>
					<div class="col-md-8"><input type="file" ng-model="doForm.dockerfile"></div>
				</div>
				<div class="row">
					<div class="col-md-4">URL to test</div>
					<div class="col-md-8"><input type="text" ng-model="doForm.testURL"></div>
				</div>
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-8"><button ng-click="addDigitalOceanInstance()">Add</button></div>
				</div>
			</div>



		</div>
		<div class="col-md-6">



			<!-- general docker -->
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h3>General Docker</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">Docker Host</div>
					<div class="col-md-8"><input type="text" ng-model="gdForm.host"></div>
				</div>
				<div class="row">
					<div class="col-md-4">Dockerfile.tar.gz</div>
					<div class="col-md-8"><input type="file" ng-model="gdForm.dockerfile"></div>
				</div>
				<div class="row">
					<div class="col-md-4">URL to test</div>
					<div class="col-md-8"><input type="text" ng-model="gdForm.testURL"></div>
				</div>
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-8"><button ng-click="addGeneralDockerInstance()">Add</button></div>
				</div>
			</div>


		</div>
	</div>
</div>


<!-- current target -->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>Current Target</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">


			<target data="target" ng-repeat="target in targets"></target>


		</div>
	</div>
</div>




<!-- run test settings -->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>Run Test</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">Concurrency</div>
		<div class="col-md-8">
			<select ng-options="item for item in concurrencyList" ng-model="selectedConcurrencyList">
				<option value="">Select</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">Request Number</div>
		<div class="col-md-8">
			<select ng-options="item for item in requestNumList" ng-model="selectedRequestNumList">
				<option value="">Select</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-8"><button ng-click="runTest()">Run</button></div>
	</div>
</div>




<!-- results -->
<div class="container-fluid" ng-show="showResult">
	<div class="row">
		<div class="col-md-12">
			<h3>Result</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">


			<bars-chart chart-data="myData" ></bars-chart>


		</div>
	</div>
</div>



<div style="margin-top: 100px;"></div>
