<form method="POST" action="/testplan/create">
  <label name="name">Test name</label>
  <input name="name" value="<%= name %>" />

  <label name="options">Options</label>
  <input name="options" />

  <label name="url">URL</label>
  <input name="url" />

  <button>Submit</button>
  <%= name %>
</form>
